{% extends 'base.html.twig' %}

{% block title %}Stanislas Raczynski{% endblock %}

{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{{path("index")}}" class="logo"><strong>Miroslav</strong> <span>Web Dev</span></a>
						
					</header>

	

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi, my name is Stanislas</h1>
							</header>
							<div class="content">
								<p>Web Developper</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Let's Go</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{{asset("images/mimi.jpg")}}" alt="" data-position="center center" style="opacity:0.9" />
									</span>
									<header class="major">
										<h3><a href="{{path("apropos")}}" class="link">A propos</a></h3>
										<p>CV et Information</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{asset("images/dev.png")}}" alt="" data-position="center center" style="opacity:0.9"/>
									</span>
									<header class="major">
										<h3><a href="{{path("dev")}}" class="link">Développement</a></h3>
										<p>Projets</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{path("competences")}}" class="link">Compétences</a></h3>
										<p>Langages et Technologies utilisées</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{path("exppro")}}" class="link">Expérience Professionnelle</a></h3>
										<p>Stages et emplois</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{asset("images/HLSC2.jpg")}}" alt="" data-position="center center" style="opacity:0.9" />
									</span>
									<header class="major">
										<h3><a href="{{path("veilletech")}}" class="link">Veille Technologique</a></h3>
										<p>Eclairages automatisés et leurs retombées économiques et écologiques</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{asset("images/open-water-swimmer.jpg")}}" alt="" data-position="center center" style="opacity:0.9"/>
									</span>
									<header class="major">
										<h3><a href="{{path("palmares")}}" class="link">Palmarès Sportif</a></h3>
										<p>Natation Compétition et Eau Libre</p>
									</header>
								</article>
							</section>
					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">stan.racz7@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>07 69 70 06 00</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Addresse</h3>
										<span>Melun 77000</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://github.com/Stan-racz" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/stanislas-raczynski-320877182/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Stan Racz</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>
{% endblock %}
